/*Resets*/

body, html {
    background-color: #f8f8ff;
}

tbody>tr:hover {
    background: aquamarine;
}

tbody>tr:nth-child(odd):hover {
    background: aquamarine;
}

/*IDs*/

#deleteBtnTHead {
    width: 30px;
}

#firstNameTHead {
    width: 110px;
}

#h3-total-month {
    margin-bottom: 20px;
}

#lastNameTHead {
    width: 150px;
}

#salTHead {
    width: 150px;
}

#titleTHead {
    width: 140px;
}

/*classes*/

.container-all {
    align-items: center;
    width: 750px;
}

.css-btn {
    margin-top: 10px;
}

.h1Jumbo {
    font-size: 60px;
}

.js-tr-style {
    text-indent: .5rem;
    line-height: 10px;
    font-size: small;
}

.jumbotron {
    padding: 20px;
}

.panel {
    margin: 0 auto;
    padding: 20px;
    max-width: 75%;
    width: 700px;
    box-sizing: border-box;
    background-color: #f8f8ff;
    border-radius: 3px;
    box-shadow: 2px 4px 3px #696969;
    margin-bottom: 40px;
    border: solid 1px #000;
}

.redBackground {
    background-color: #ff0000;
}

.table-head-css {
    padding: 10px;
}

.table-margin {
    margin-top: 20px;
    width: 700px;
}